.firstBlock 
   display grid
   grid-template-rows: 9.92vh 50.2vh 10.88vh
   grid-template-columns: 10.07vw 40.50vw 4.57vw 35.71vw 7.14vw

.peopleImg 
    grid-row-start: 2
    grid-row-end: 3
    grid-column-start: 4
    grid-column-end: 5

.someInfo 
   grid-row-start: 2
   grid-row-end: 3
   grid-column-start: 2
   grid-column-end: 3
   color: #333333;

.firstPhraze 
   font-weight 600
   font-size 55px

.secondPhraze 
   color #333333;
   font-size 55px
.thirdPhraze 
   margin-top: 10px
   font-weight: 550

.textBlock 
   display flex
   column-gap 30px
   margin-top: 20px

.someBlock 
   background #77B2D3
   border-radius 250px
   padding 14px 41px 14px 41px
   color: white

// content1
.content1 
   width 80%
   height 254px
   background-color: #FFFFFF
   box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
   border-radius: 20px;
   margin-left: 10%
   margin-bottom: 63px 
   padding-top: 40px

.content1Text
   font-weight: 700;
   font-size: 38px;
   line-height: 48px;
   text-transform: uppercase;
   color: #333333;
   margin-bottom: 35px
   margin-left: 55px


.content1BoxText1
   font-weight: 800;
   font-size: 40px;
   line-height: 48px;
   background: linear-gradient(115.11deg, #F32C6D 10.12%, #CB1D95 100.01%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
   text-fill-color: transparent;

.content1BoxText2
   font-weight: 500;
   font-size: 16px;
   line-height: 24px;
   color: #333333;

.content1Box
   display flex
   width 100%
   justify-content: space-around
   
