header 
    background-color #ffffff
    display flex
    justify-content space-around
    align-items center
    font-size 16px
    

menu 
    display flex
    column-gap 30px

.headerButton 
    background linear-gradient(115.11 deg, #F32C6D 10.12%, #CB1D95 100.01%);
    border-radius 9px;
    color white
    height 54px
    width 205px
    display flex
    align-items center
    justify-content center

