extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	div.firstBlock
		div 
		div.peopleImg 
			img(src="../../static/img/svg/people.svg", alt="")
		div.someInfo
			p.firstPhraze Студия дизайна
			P.secondPhraze ПОЛНОГО ЦИКЛА
			p.thirdPhraze От дизайна визиток до дизайна сайтов
			div.textBlock
				div.someBlock Комплексные решения
				div.someBlock Логотипы
				div.someBlock Дизайн
	.content1 
		.content1Text МЫ ЗНАЕМ ТОЛК В ДИЗАЙНЕ!
		.content1Box
			.content1Box1
				.content1BoxText1 6 лет
				.content1BoxText2 В сфере рекламы
			img(src="../../static/img/content/Line.png")
			.content1Box2
				.content1BoxText1 более 100
				.content1BoxText2 Наших постоянных клиентов
			img(src="../../static/img/content/Line.png")
			.content1Box3
				.content1BoxText1 +20%
				.content1BoxText2 Конверсия продаж
			img(src="../../static/img/content/Line.png")
			.content1Box4
				.content1BoxText1 -70%
				.content1BoxText2 Ошибок менеджеров

